* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}

p {
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper {
    background-color: #303030;

}

nav {
    padding: 10px 0px;
}

li {
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    list-style-type: none;
    padding: 10px 30px;
}


.search>i {
    color: #ffffff;
    font-size: 25px;
}

#section1 {
    background: url("../images/music/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\).png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 770px;

}

.text1 {
    font-size: 37px;
    
    color: #ffffff;
    
    margin-top: 17%;
    margin-right:70% ;
   
    
}


h1 {
    font-size: 70px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    text-align: left;


}

h1+p {
    
padding-top: 7%;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
}
.register{
    padding-top:7%; 
}
.register > button{ 
    width: 300px;
    height: 65px;
    border-radius: 4px;
    background-color: #e8631c;
    color: white;
}
   
    




#section2 {
    width: 100%;
    height: 770px;
    background-color: #e8631c;

}
.text2{
    padding-top: 5%;
   
}




h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;

}

h2+p {
    padding-bottom: 5%;
    color: #ffffff;
    
    padding-top: 3%;
    font-size: 25px;
}

.Col-33{
    width: 90%;
    gap: 50px;
   margin: auto;
    
  
    
}
.card1{
    background-color: #303030;
    width: 100%;
    padding: 5px;
 
}
.card1>h4{
    text-align: center;
    color:#ffffff;
    font-size: 40px;
    padding-bottom: 3%;
}

#section3 {
    width: 100%;
    height: 100%;
    background-color: #303030;
    margin: auto;
}
.text3 {
    padding-top:5% ;
    color: #ffffff;
    text-align: center;
}
.text3>p{
   
    font-size: 22px;
    padding-bottom: 5%;
}

.card2{
    background-color: #e8631c;
    width: 100%;
    padding: 0px;
  
}
.card2>h4{
    padding-top: 20%;
    text-align: center;
    color:#ffffff;
    font-size: 40px;
    padding-bottom: 3%;
}
.card2>img{
    padding-left: 35%;
    padding-top: 10%;
}
.buton{
    padding-left:25%;
    padding-top: 5%;
}
.buton>button{
    width: 200px;
    height: 65px;
    border-radius: 4px;
    background-color:#303030;
    color: white;
}
#section4{
    padding-top: 5%;
    width: 100%;
    height: 800px;
  margin: auto;
  background-color: #e8631c;
   
}
.sec4{
    display:flex
}
.amazing>p{
    color:#303030
}
.dance{
    padding-top: %;
}

